# Java/Maven
**/target/
**/out/
*.class

# Node.js/React/Expo
**/node_modules/
**/build/
**/dist/

# OS/Editor
.DS_Store
*.log
.env
.env.*
.idea/
.vscode/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
**/.expo/
**/.expo-shared/

# Ignore coverage and test output
coverage/
**/coverage/

# Ignore local MongoDB data
/data/ 